@import "./variables";
@import "./mixins";
@import "./base";

p{
    font-size: 1em;
}
p.p-1{
    font-size: 0.8em;
}
p.p-2{
    font-size: 0.6em;
}
.z-index-1{
    position: relative;
    z-index: 1;
}
.z-index-2{
    position: relative;
    z-index: 2;
}
.z-index-3{
    position: relative;
    z-index: 3;
}
.mt-5vw{
    margin-top: -5vw;
}
.width70{
    width:70vw;
}
.height100p{
    height: 100%;
}
.img-magGlass{
    content: $imgMagGlass;
    padding-top: 0.7rem;
}
.companyLogo{
    content: $imgCompanyLogo;
    &-navbar{
        @extend .companyLogo;
        height: 2.5rem;
        width: auto;
    }
    &-header{
        @extend .companyLogo;
        width: 30vw;
        height: auto;
    }
    &-advantage{
        @extend .companyLogo;
        position: absolute;
        left: 50%;
        bottom: 10%;
        transform: translate(-15%,0);
        width: 15%;
    }
    &-footer{
        @extend .companyLogo;
        width: 80%;
    }
}
.navbar{
    border-bottom: none !important;
    background-color: $primary;
}
.navbar-nav > .nav-item > .nav-link{
    font-family: $font-family-text;
    &::before{
        content: "";
        border-left: #CCC 2px solid;
        margin-right: 1rem;
    }
}
.headerBackground {
    @include centeredBackground($imgHeaderBg);
    min-height: 42.8vw;
}
.border-left-right{
    border-color: $white;
    border-left: 1px solid;
    border-right: 1px solid;
}
.bigButtonsNavbar{
    padding: 0 0 0 0;
    width: fit-content;
    margin-top: -5vw;
    font-family: $font-family-text;
    div{
        display: block;
        width: 10vw;
        height: 10vw;
        text-align: center;
        background-color: $primary;
        :hover{
            background-color: $highlight;
            cursor: pointer;
        }
    }
}
.card{
    min-width: 10vw;
    min-height: 10vw;
    cursor: pointer;
    background-color: $primary;
    &:hover{
        background-color: $highlight !important;
        .selectionArrow{
            display: block !important;
        }
    }
    &-body{
        flex: 0 0 auto;
    }
}
.selectionArrow{
    display: none;
    position: absolute;
    width: 2vw;
    height: 2vw;
    min-width: 2vw;
    min-height: 2vw;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: $imgArrow-small-white;
    transform: rotate(-45deg) translate(30%,80%);
}
.bigButton{
    height: 100%;
    width: 100%;
    span{
        font-size: 0.75rem;
        padding-top: 0.25rem;
    }
}
.hoverArrow{
    content: url("../img/Layer\ 7\ copy\ 13w.png");
    width: auto;
    height: 1.5rem;
    transform: rotate(90deg) scaleX(-1);
    margin-top: 0.5rem;
    margin-bottom: 0px;
    display: none;
    :hover{
        background-color: none;
    }
}
.bigButton:hover > .hoverArrow{
    display: inline-block !important;
}
.hiddenBigButtonLinks{
    display: none !important;
}
.containerCustom{
    margin-top: 1rem;
    text-align: center;
}
.nav-tabs > .nav-link{
    font-family: $font-family-heading;
    background-color: $gray-300;
    color: $gray-600;
}
.nav-tabs > .active{
    font-family: $font-family-heading;
    background-color: $gray-300;
    color: $primary !important;
}
.nav-tabs{
    :hover{
        background-color: $highlight;
        color: $white;
    }
}
.nav-tabs > .nav-item {
    font-size: 0.7rem;
}
.tab-content{
    background-color: $white;
    border-left: 1px solid $gray-300;
    border-right: 1px solid $gray-300;
    border-bottom: 1px solid $gray-300;
}
.centerContentBackground{
    @include centeredBackground($imgTopContentBg);
}
.centerRowCustom{
    min-height: 350px;
}
.happyGuyBg{
    height: 100%;
    background-image: url("../img/Untitled-2.png");
    background-size: contain;
    background-position: bottom right;
    background-repeat: no-repeat;
}
.happyGuyImg{
    height: auto;
    width: 90%;
    max-width: 245px;
    min-width: 245px;
}
.bg-blueGradient{
    margin-top: -1em;
    background-image: linear-gradient(to right, $primary,theme-color-level("primary",-2),$primary);
    padding: 0 0 0 0;
}
.svgEllipseContainer{
    height: 100%;
    width: 100%;
}
.EllipsePath{
    fill:none;
    stroke: $white;
    stroke-miterlimit:10;
    stroke-width: 0.5px;
    opacity: 0.6;
    &-small {
        @extend .EllipsePath;
        opacity: 0.3;
      }
}
.pathDiv {
    position: absolute;
    font-family: sans-serif;
    font-size: 30px;
    border: solid 1px black;
    width: 40px;
    height: 40px;
    margin-left: -19px;
    margin-top: -19px;
    text-align: center;
    border-radius: 50%;
    display: table-cell;
    vertical-align: middle;
}
.advantage-container{
    position: absolute;
    max-width: 250px;
    max-height: 200px;
    font-size: 0.85rem;
}
.arrow-img{
    position: absolute;
    top: -35%;
    &-left {
        @extend .arrow-img;
        left: -10%;
    }
    &-right {
        @extend .arrow-img;
        right: -15%;
    }
}
.map-responsive{
    overflow:hidden;
    padding-bottom:50%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
.googleMap{
    min-height: 500px;
}
.footer-h{
    &::before{
        content: $imgArrow-small;
    }
}
.card-columns-services{
    @extend .card-columns;
    font-size: 0.85rem;
    column-count: 2;
    list-style: "> ";
}
.card-columns-contacts{
    @extend .card-columns;
    font-size: 0.85rem;
    column-count: 1;
}
@include media-breakpoint-down(xs) {
    .bigButtonsNavbar {
        display: none !important;
    }
    .hiddenBigButtonLinks{
        display: block !important;
    }
}
@include media-breakpoint-down(sm){
    .happyGuyImg{
        float: left !important;
    }
    .advantages-arrow{
        background-image: $imgArrow-big;
        background-repeat: no-repeat;
        &-right {
            @extend .advantages-arrow;
            background-position: right top;
        }
        &-left {
            @extend .advantages-arrow;
            background-position: left top;
        }
    }
    .arrow-img{
        display: none;
    }
    .card-columns-services{
        font-size: 0.75rem !important;
    }
    .card-columns-contacts{
        font-size: 0.75rem !important;
    }
}
@include media-breakpoint-up(sm) {
    .advantage-container-text{
        &-right{
            margin-top: -1rem;
        }
    }
}
@include media-breakpoint-up(md){
    .happyGuyImg{
        float: right !important;
    }
}
@include media-breakpoint-only(md){
    .card-columns-contacts{
        column-count: 3 !important;
    }
}
@include media-breakpoint-only(sm){
    .card-columns-contacts{
        column-count: 3 !important;
    }
}
@include media-breakpoint-down(lg) {
    .advantage-container {
      font-size: 0.75rem;
    }
    h4{
        font-size: 1rem;
        margin-bottom: 0.1rem;
    }
    h3{
        margin-bottom: 0.1rem;
    }
}
@include media-breakpoint-up(lg) {
    .arrow-img-left{
        left: -15% !important;
        top: -25% !important; 
    }
    .companyLogo-header{
        width: 20vw;
    }
    .companyLogo-advantage{
        transform: translate(-25%,0) !important;
    }
}
@include media-breakpoint-up(xl){
    h4{
        font-size: 1.3rem;
        margin-bottom: 0.1rem;
    }
    h3{
        margin-bottom: 0.1rem;
    }
}