$primaryColor: #04315b; 
$secondaryColor: #ffffff;
$highlightColor: #c50f45;

$hoverArrow: url("../img/Layer\ 7\ copy\ 13w.png");

$imgHeader: url("../img/Layer\ 30.jpg");
$imgLogo: url("../img/Layer\ 31.png");
$imgTrain: url("../img/031-train-3.png");
$imgShip: url("../img/010-cargo-ship-1.png");
$imgTruck: url("../img/truck.png");
$imgPlane: url("../img/016-plane-1.png");
$imgCrane: url("../img/018-crane.png");
$imgStory: url("../img/029-story.png");
$imgWarehouse: url("../img/030-warehouse.png");