$primaryColor: #04315b; 
$secondaryColor: #ffffff;

$hoverArrow: url("../img/Layer\ 7\ copy\ 13w.png");

$centerContentBg: url("../img/Untitled-1.jpg");

$imgHeader: url("../img/Layer\ 30.jpg");
$imgLogo: url("../img/Layer\ 31.png");
$imgTrain: url("../img/031-train-3.png");
$imgShip: url("../img/010-cargo-ship-1.png");
$imgTruck: url("../img/truck.png");
$imgPlane: url("../img/016-plane-1.png");
$imgCrane: url("../img/018-crane.png");
$imgStory: url("../img/029-story.png");
$imgWarehouse: url("../img/030-warehouse.png");

$imgCompanyLogo: url("../img/Layer\ 31.png");

$imgPartnerLogo: url("../img/Layer\ 32\ copy\ 2.png");

$imgFB: url("../img/Layer\ 19.png");
$imgInsta: url("../img/Layer\ 21.png");
$imgYT: url("../img/Layer\ 20.png");

$imgLocMark: url("../img/Layer\ 10\ copy.png");
$imgPhone: url("../img/Layer\ 8\ copy.png");
$imgMail: url("../img/mail\ copy.png");

$imgArrow-small: url("../img/Layer\ 7\ copy\ 13.png");