<div class="container-fluid pt-3 d-flex flex-column justify-content-end bg-blueGradient z-index-2">
    <div class="container d-flex flex-column justify-content-center bg-transparent text-secondary containerCustom">
        <h1>Lorem ipsum dolor sit amet</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, illum aperiam natus vel recusandae ad commodi laboriosam eligendi minima aut.</p>
    </div>

    <div id="Advantages" class="container-fluid p-0 d-md-flex align-items-end d-none" style="position: relative;margin: 0 0 0 0;">
        <svg class="svgEllipseContainer z-index-1" viewbox="0 0 303 100">
            <path id="bigEllipsePath" class="EllipsePath" d="M-0.07,86.7C23.31,69.89 54.33,54.01 89.72,41.835C175.21,12.41 253.86,15.72 265.39,49.234C270.44,63.9 261.78,81.93 243.28,100.03"/>
            <path class="EllipsePath-small" d="M59.25,100.06C69.33,91.57 84.32,83.32 101.92,77.26C137.47,65.03 170.18,66.4 174.98,80.34C176.95,86.08 173.89,93.05 167.12,100.12"/>
        </svg>
        <div id="1" class="advantage-container"><partial src="advantage-1.html"></partial></div>
        <div id="2" class="advantage-container"><partial src="advantage-2.html"></partial></div>
        <div id="3" class="advantage-container"><partial src="advantage-3.html"></partial></div>
        <div id="4" class="advantage-container"><partial src="advantage-4.html"></partial></div>
        <div class="companyLogo-advantage"></div>
    </div>
    <div class="container-fluid">
        <div class="container d-flex flex-column d-md-none align-items-center justify-content-top">
            <partial src="advantage-1.html"></partial>
            <partial src="advantage-2.html"></partial>
            <partial src="advantage-3.html"></partial>
            <partial src="advantage-4.html"></partial>
        </div>
    </div>
</div>
<div class="container-fluid d-flex flex-column align-items-center text-center pt-3 pb-3 bg-light">
    <div class="container-fluid d-flex flex-column justify-content-center bg-transparent text-primary">
        <h2>POSLOVNA ODLIČNOST</h2>
        <div class="container bg-transparent containerCustom">
            <span class="container col-2 ml-1 mr-1 partnerLogo"></span>
            <span class="container col-2 ml-1 mr-1 partnerLogo"></span>
            <span class="container col-2 ml-1 mr-1 partnerLogo"></span>
            <span class="container col-2 ml-1 mr-1 partnerLogo"></span>
            <span class="container col-2 ml-1 mr-1 partnerLogo"></span>
        </div>
    </div>
</div>