<footer class="footer container-fluid bg-primary">

    <div class="row pt-2 align-items-center justify-content-around">
        <div class="col-xs-3 py-5 pl-1 pr-3 mx-3">
            <div class="row justify-content-center">
                <div class="companyLogo-footer"></div>
            </div>
            <div class="row mt-1 justify-content-center">
                    <span class="socialFB ml-1 mr-1 mb-1"></span>
                    <span class="socialInsta ml-1 mr-1 mb-1"></span>
                    <span class="socialYT ml-1 mr-1 mb-1"></span>
            </div>
        </div>
        <div class="col-xs-5 pl-3 pr-3">
            <row class="text-secondary">
                <h6 id="footerLinksTitle" class="footer-h"></h6>
                <ul class="list-unstyled card-columns-services">
                    <li>
                        <a id="footerLink1" href="#"></a>
                    </li>
                    <li>
                        <a id="footerLink2" href="#"></a>
                    </li>
                    <li>
                        <a id="footerLink3" href="#"></a>
                    </li>
                    <li>
                        <a id="footerLink4" href="#"></a>
                    </li>
                    <li>
                        <a id="footerLink5" href="#"></a>
                    </li>
                    <li>
                        <a id="footerLink6" href="#"></a>
                    </li>
                    <li>
                        <a id="footerLink7" href="#"></a>
                    </li>
                </ul>
            </row>
        </div>
        <div class="col-xs-4 pl-1 pr-1">
            <row class="text-secondary">
                <h6 id="footerContacts" class="footer-h text-left text-md-center text-lg-left"></h6>
                <ul class="list-unstyled card-columns-contacts">
                    <li>
                        <a id="address" class="contactLoc" href="#"></a>
                    </li>
                    <li>
                        <a id="phone" class="contactPhone" href="#"></a>
                    </li>
                    <li>
                        <a id="mail" class="contactMail" href="#"></a>
                    </li>
                </ul>
            </row>
        </div>
    </div>
</footer>


<script src="js/all.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBAuU5F1qHZxGwmR3qy8EE30R6lHaC5zD4&callback=showGoogleMap"
  type="text/javascript"></script>
</body>
</html>
