<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />    
    <link rel="stylesheet" href="css/style.css" />
    <link rel="icon" href="./img/icon.png" />
    <title>TestRG</title>
  </head>
<body onresize="positionAdvantagesGroup()" onload="positionAdvantagesGroup()">
<nav class="navbar navbar-expand-sm navbar-dark fixed-top">
<a class="navbar-brand" href="./index.html"><img class="companyLogo-home" src="../img/Layer 31.png"/></a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavBar" aria-controls="topNavBar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="topNavBar">
    <ul class="navbar-nav ml-auto">
        <li class="hiddenBigButtonLinks">
            <a class="nav-link" href="./about.html"><span class="img-dropdown-train"></span> Lorem Ipsum</a>
        </li>
        <li class="hiddenBigButtonLinks">
            <a class="nav-link" href="./about.html"><span class="img-dropdown-ship"></span>Lorem Ipsum</a>
        </li>
        <li class="hiddenBigButtonLinks">
            <a class="nav-link" href="./about.html"><span class="img-dropdown-truck"></span>Lorem Ipsum</a>
        </li>
        <li class="hiddenBigButtonLinks">
            <a class="nav-link" href="./about.html"><span class="img-dropdown-plane"></span>Lorem Ipsum</a>
        </li>
        <li class="hiddenBigButtonLinks">
            <a class="nav-link" href="./about.html"><span class="img-dropdown-crane"></span>Lorem Ipsum</a>
        </li>
        <li class="hiddenBigButtonLinks">
            <a class="nav-link" href="./about.html"><span class="img-dropdown-story"></span>Lorem Ipsum</a>
        </li>
        <li class="hiddenBigButtonLinks">
            <a class="nav-link" href="./about.html"><span class="img-dropdown-warehouse"></span>Lorem Ipsum</a>
        </li>

        <li class="nav-item active">
            <a class="nav-link" href="./index.html">O nas<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="./about.html">Novice</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="./about.html">Kontakt</a>
        </li>
        <li>
            <a class="nav-link" href="./about.html"><img src="../img/Layer 22 copy.png" alt="ENG"></a>
        </li>   
    </ul>
</div>
</nav>
<div class="container-fluid d-flex justify-content-center align-items-center headerBackground">
    <div class="companyLogo">
    </div>
</div>
<div class="container-fluid d-flex flex-row justify-content-center text-secondary bigButtonsNavbar">
    <div class="border-left-right shadow-lg"><a href="#">
        <span class="d-flex flex-column justify-content-center align-items-center bigButton">
            <span class="img-train"></span>
            <span>Lorem<br>ipsum</span>
        </span></a></div>
    <div class="border-left-right shadow-lg"><a href="#">
        <span class="d-flex flex-column justify-content-center align-items-center bigButton">
            <span class="img-ship"></span>
            <span>Lorem<br>ipsum</span>
        </span></a></div>
    <div class="border-left-right shadow-lg"><a href="#">
        <span class="d-flex flex-column justify-content-center align-items-center bigButton">
            <span class="img-truck"></span>
            <span>Lorem<br>ipsum</span>
        </span></a></div>
    <div class="border-left-right shadow-lg"><a href="#">
        <span class="d-flex flex-column justify-content-center align-items-center bigButton">
            <span class="img-plane"></span>
            <span>Lorem<br>ipsum</span>
        </span></a></div>
    <div class="border-left-right shadow-lg"><a href="#">
        <span class="d-flex flex-column justify-content-center align-items-center bigButton">
            <span class="img-crane"></span>
            <span>Lorem<br>ipsum</span>
        </span></a></div>
    <div class="border-left-right shadow-lg"><a href="#">
        <span class="d-flex flex-column justify-content-center align-items-center bigButton">
            <span class="img-story"></span>
            <span>Lorem<br>ipsum</span>
        </span></a></div>
    <div class="border-left-right shadow-lg"><a href="#">
        <span class="d-flex flex-column justify-content-center align-items-center bigButton">
            <span class="img-warehouse"></span>
            <span>Lorem<br>ipsum</span>
        </span></a></div>
</div>