<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />    
    <link rel="stylesheet" href="css/style.css" />
    <link rel="icon" href="./img/icon.png" />
    <title>TestRG</title>
  </head>
<body onresize="positionAdvantagesGroup()" onload=" setContent(); positionAdvantagesGroup();">
<nav class="navbar px-3 py-0 navbar-expand-sm navbar-dark fixed-top">
<a class="navbar-brand p-0 ml-3" href="./index.html"><div class="companyLogo-navbar py-1"></div></a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavBar" aria-controls="topNavBar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="topNavBar">
    <ul class="navbar-nav ml-auto">
        <li class="smallNavLinks">
            <a class="nav-link" href="#"><span class="img-dropdown-train"></span><span id="smallButton1"></span></a>
        </li>
        <li class="smallNavLinks">
            <a class="nav-link" href="#"><span class="img-dropdown-ship"></span><span id="smallButton2"></span></a>
        </li>
        <li class="smallNavLinks">
            <a class="nav-link" href="#"><span class="img-dropdown-truck"></span><span id="smallButton3"></span></a>
        </li>
        <li class="smallNavLinks">
            <a class="nav-link" href="#"><span class="img-dropdown-plane"></span><span id="smallButton4"></span></a>
        </li>
        <li class="smallNavLinks">
            <a class="nav-link" href="#"><span class="img-dropdown-crane"></span><span id="smallButton5"></span></a>
        </li>
        <li class="smallNavLinks">
            <a class="nav-link" href="#"><span class="img-dropdown-story"></span><span id="smallButton6"></span></a>
        </li>
        <li class="smallNavLinks">
            <a class="nav-link" href="#"><span class="img-dropdown-warehouse"></span><span id="smallButton7"></span></a>
        </li>

        <li class="nav-item active">
            <a class="nav-link img-magGlass" href="./index.html"></a>
        </li>
        <li class="nav-item">
            <a id="aboutUs" class="nav-link" href="./index.html"></a>
        </li>
        <li class="nav-item">
            <a id="news" class="nav-link" href="#"></a>
        </li>
        <li class="nav-item">
            <a id="contacts" class="nav-link" href="#"></a>
        </li>
        <li>
            <a class="nav-link" href="#"><img src="../img/Layer 22 copy.png" alt="ENG"></a>
        </li>   
    </ul>
</div>
</nav>
<div class="container-fluid d-flex justify-content-center align-items-center headerBackground">
    <div class="companyLogo-header"></div>
</div>
<div class="container-fluid d-none d-sm-flex flex-row justify-content-center text-secondary mt-5vw buttonsContainer">
    <div class="card align-items-center justify-content-center shadow-lg">
        <div class="card-img-top my-1 button-img-train"></div>
        <div class="card-body d-flex flex-column align-items-center p-0">
            <p id="button1" class="card-text my-1"></p>
            <div class="selectionArrow"></div>
        </div>
    </div>
    <div class="card align-items-center justify-content-center shadow-lg">
        <div class="card-img-top my-1 button-img-train"></div>
        <div class="card-body d-flex flex-column align-items-center p-0">
            <p id="button2" class="card-text my-1"></p>
            <div class="selectionArrow"></div>
        </div>
    </div>
    <div class="card align-items-center justify-content-center shadow-lg">
        <div class="card-img-top my-1 button-img-train"></div>
        <div class="card-body d-flex flex-column align-items-center p-0">
            <p id="button3" class="card-text my-1"></p>
            <div class="selectionArrow"></div>
        </div>
    </div>
    <div class="card align-items-center justify-content-center shadow-lg">
        <div class="card-img-top my-1 button-img-train"></div>
        <div class="card-body d-flex flex-column align-items-center p-0">
            <p id="button4" class="card-text my-1"></p>
            <div class="selectionArrow"></div>
        </div>
    </div>
    <div class="card align-items-center justify-content-center shadow-lg">
        <div class="card-img-top my-1 button-img-train"></div>
        <div class="card-body d-flex flex-column align-items-center p-0">
            <p id="button5" class="card-text my-1"></p>
            <div class="selectionArrow"></div>
        </div>
    </div>
    <div class="card align-items-center justify-content-center shadow-lg">
        <div class="card-img-top my-1 button-img-train"></div>
        <div class="card-body d-flex flex-column align-items-center p-0">
            <p id="button6" class="card-text my-1"></p>
            <div class="selectionArrow"></div>
        </div>
    </div>
    <div class="card align-items-center justify-content-center shadow-lg">
        <div class="card-img-top my-1 button-img-train"></div>
        <div class="card-body d-flex flex-column align-items-center p-0">
            <p id="button7" class="card-text my-1"></p>
            <div class="selectionArrow"></div>
        </div>
    </div>
</div>