<div class="container d-flex flex-column justify-content-center bg-white containerCustom">
    <h1>Lorem ipsum dolor sit amet</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione optio voluptatum corporis consectetur deserunt maiores molestiae totam autem consequuntur tempora!</p>
</div>
  
<div class="container-fluid centerContentBackground">
  <div class="container containerCustom">
    <div class="row centerRowCustom">
      <div class="col-md-4 align-self-center">
        <h2>Vprašajte nas</h2>
        <p class="p-1">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum velit ut ad cumque impedit iusto, dolorum recusandae reiciendis labore quia veniam, esse saepe aspernatur repudiandae alias similique. Pariatur, minima ipsa.</p>
      </div>
      <div class="col-md-8">
      <div class="row height100p">
        <div class="col-ms-6 align-self-end z-index-1">
          <img class="happyGuyImg" src="./img/Untitled-2.png"/>
        </div>
        <div class="col-ms-6 align-self-end z-index-3">
          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <a class="nav-item nav-link active" id="nav-ponudba-tab" data-toggle="tab" href="#nav-ponudba" role="tab" aria-controls="nav-ponudba" aria-selected="true">PONUDBA</a>
              <a class="nav-item nav-link" id="nav-sledite-tab" data-toggle="tab" href="#nav-sledite" role="tab" aria-controls="nav-sledite" aria-selected="false">SLEDITE</a>
            </div>
          </nav>
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-ponudba" role="tabpanel" aria-labelledby="nav-ponudba-tab">
              <p class="p-2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem doloribus officia repudiandae, numquam quia ratione eos amet dolorem quos animi.</p>
              <form class="pl-3 pr-3 pb-2">
                <div class="form-group">
                  <label for="startPoint" class="float-left">Od:</label>
                  <input type="email" class="form-control" id="startPoint" aria-describedby="emailHelp" placeholder="npr. Ljubljana">
                </div>
                <div class="form-group">
                  <label for="endPoint" class="float-left">Do:</label>
                  <input type="password" class="form-control" id="endPoint" placeholder="npr. Koper">
                </div>
                  <button type="button" class="btn btn-highlight" onclick="pridobiPonudbo()">PRIDOBITE PONUDBO</button>
              </form>
            </div>
            <div class="tab-pane fade" id="nav-sledite" role="tabpanel" aria-labelledby="nav-sledite-tab">
              <p class="p-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium, odit.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium, odit.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium, odit.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium, odit.

              </p></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>